.btn {
  margin-left: 0 12px;
  border: none !important;
  border-radius: 0 !important;
  border: none;
  font-weight: 500 !important;
  font-size: calc(0.7rem + 0.4vw);
  letter-spacing: 0.7px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #222222;
  color: #fff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #1e8b1e;
  color: #fff;
}

.btn-delete {
  background-color: #d00101;
  color: #fff !important;
}

#outer-container input,
#outer-container textarea,
#outer-container select {
  border: 1px solid #222222 !important;
  border-radius: 0 !important;
  background-color: #f5f5f5;
  font-weight: 300 !important;
  resize: none;
}
#outer-container input:focus,
#outer-container textarea:focus,
#outer-container select:focus {
  box-shadow: none;
  background-color: #e0e0e0;
  border: inherit;
}
#outer-container button:focus {
  box-shadow: none;
}
#outer-container .is-invalid,
#outer-container .is-invali:focus {
  box-shadow: none !important;
  border-color: #dc3545 !important;
}
#outer-container .form-check-input,
#outer-container .form-check-label {
  cursor: pointer;
}
#outer-container .form-check-input {
  background-color: #f5f5f5 !important;
}
#outer-container .form-check-input:checked {
  background-color: #1e8b1e !important;
}
#outer-container .btn-link {
  background-color: #fff !important;
  font-size: 0.95rem;
  color: #222222;
}
#outer-container .btn-link {
  text-decoration: none;
}
#outer-container .btn-link:hover {
  text-decoration: underline;
}

.container {
  width: 89vw;
  min-height: auto;
  max-width: 620px;
  background-color: #fff;
  border: 2.5px solid #222222;
  padding: 3vh 3vw;
  margin-top: calc(55px + 1vh);
}

@media screen and (max-width: 768px) {
  .btn-link {
    font-size: 3vw;
  }
}
