#profileHeading {
  display: flex;
  align-items: center;
}

#userDetails,
#userAvatar {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#userAvatar > img {
  max-width: 30vw;
  max-height: 22vh;
  margin-right: 2vw;
}

#userDetails h1 {
  font-weight: 500;
  font-size: 52px;
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}

#userDetails h2 {
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}

#userDetails p {
  font-weight: 200;
  font-size: 19px;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
}

#userSummary {
  margin: 20px;
  font-size: 17px;
  font-weight: 200;
  width: 60%;
  letter-spacing: 0.5px;
}

#updateBtn {
  margin-left: 20px;
}

#editContainer {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#screenOverlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#updateForm {
  height: 70vh;
  width: 90vw;
  max-width: 600px;
  background-color: #fff;
  z-index: 3;
}

#avatarContainer {
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#avatarFrame {
  position: relative;
  height: 80%;
  width: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#editIcon {
  position: absolute;
  top: -8%;
  right: -8%;
  height: 27px;
  width: 27px;
  padding: 4px;
  border-radius: 50%;
  background-color: #222222;
}

#avatarFrame > img {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  #profileHeading h1 {
    font-size: 22px;
  }

  #profileHeading h2 {
    font-size: 13px;
  }

  #profileHeading p {
    font-size: 12px;
  }

  #userSummary {
    width: 100%;
    font-size: 12px;
    margin-left: 0;
  }

  #updateBtn {
    margin-left: 0;
    font-size: 12px;
  }

  #editIcon {
    height: 23px;
    width: 23px;
  }
}
