.container input,
.container textarea,
.container select {
  border: 1px solid #222222 !important;
  border-radius: 0 !important;
  background-color: #f5f5f5;
  font-weight: 300 !important;
  resize: none;
}

.container input:focus,
.container textarea:focus,
.container select:focus {
  box-shadow: none;
  background-color: #e0e0e0;
  border: inherit;
}

.container button:focus {
  box-shadow: none;
}

.container .is-invalid,
.container .is-invalid:focus {
  box-shadow: none !important;
  border-color: #dc3545 !important;
}

.container .btn {
  margin-left: 0 12px;
  padding: 0.8vh auto;
  border: none !important;
  border-radius: 0 !important;
  color: #000;
  border: none;
  font-weight: 500 !important;
  letter-spacing: 0.7px;
}

.form-check-label,
.form-check-input {
  cursor: pointer;
}

.form-check-input {
  background-color: #f5f5f5 !important;
}

.form-check-input:checked {
  background-color: #1e8b1e !important;
}

.container .btn-link {
  background-color: #fff !important;
  font-size: 0.95rem;
  color: #000;
}

.container .btn-secondary {
  background-color: #222222;
  color: #fff;
}

.container .btn-link {
  text-decoration: none;
}

.container .btn-link:hover {
  text-decoration: underline;
}

.container .btn-primary {
  background-color: #1e8b1e;
  color: #fff;
}

.container .btn-primary:hover {
  background-color: #1e8b1e;
}
