#recipes > .container > .h1 {
  padding: 3vh 0;
  font-size: 38px;
}

#recipes-list {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.recipe-card {
  border: 1.5px solid #222222;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px;
  width: 46%;
  margin: 0 2% 3vh 2%;
}

@media screen and (min-width: 576px) {
  .recipe-card {
    width: 29.333333333%;
  }
}
@media screen and (min-width: 768px) {
  .recipe-card {
    width: 21%;
  }
}
@media screen and (min-width: 992px) {
  .recipe-card {
    width: 16%;
  }
}
.recipe-card > a,
.recipe-card > a:hover {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  text-decoration: none;
  color: #222222;
}

.recipe-image {
  height: 10vw;
  min-height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.recipe-title {
  width: 100%;
  margin: 1vh 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.recipe-title h3 {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding: 0 3px;
  word-break: keep-all;
}

#no-results {
  font-size: 21px;
}

@media screen and (max-width: 768px) {
  #recipes > .container > .h1 {
    font-size: 24px;
  }

  .recipe-title > h3 {
    font-size: 12px;
  }

  #no-results {
    font-size: 16px;
  }
}
#pagination-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-pagination,
.btn-pagination:hover {
  color: #fff;
  margin-right: 24px;
  border: none !important;
  border-radius: 0 !important;
  border: none;
  font-weight: 500 !important;
  letter-spacing: 0.7px;
}

#pagination-prev {
  background-color: #222222;
}

#pagination-next {
  background-color: #1e8b1e;
}

.btn {
  margin-left: 0 12px;
  border: none !important;
  border-radius: 0 !important;
  border: none;
  font-weight: 500 !important;
  font-size: calc(0.7rem + 0.4vw);
  letter-spacing: 0.7px;
}

.btn-secondary {
  background-color: #222222;
  color: #fff;
}

.btn-primary {
  background-color: #1e8b1e;
  color: #fff;
}

.btn-primary:hover {
  background-color: #1e8b1e;
}

.btn-delete {
  background-color: #d00101;
  color: #fff !important;
}
