// variables
@import 'inc/_variables.scss';

// Form styles
@import "inc/_form.scss";

// User styles
@import "user.scss";

#updateBtn {
    margin-left:8%;
}

#updateForm{
    display:none;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    height:70vh;
    width:88vw;
    padding:1vw;
    max-width:600px;
    background-color: #fff;
    z-index: 3;
}

#avatarContainer{
    height:30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    #avatarFrame{
        position: relative;
        height:80%;
        width:40%;
        width:fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        img{
            max-height:100%;
            max-width:100%;
        }

        #editIcon{
            position: absolute;
            top:-8%;
            right:-8%;
            height:27px;
            width:27px;
            padding:4px;
            border-radius:50%;
            background-color: $grey;

            @media screen and (max-width:768px) {
                height:20px;
                width:20px;
            }
        }
    }
}