// variables
@import 'inc/variables.scss';

// Form styles
@import "inc/form.scss";

// User styles
@import "user.scss";

#updateBtn {
    margin-left:8%;
}

#editContainer{
    display: none;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 2;
}

#screenOverlay{
    display: none;
    background-color: rgba($color: #000000, $alpha: 0.7);
    height:100vh;
    width:100vw;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 2;
}

#updateForm{
    height:70vh;
    width:88vw;
    padding:1vw;
    max-width:600px;
    background-color: #fff;
    z-index: 3;
}

#avatarContainer{
    height:30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#avatarFrame{
    position: relative;
    height:80%;
    width:40%;
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#editIcon{
    position: absolute;
    top:-8%;
    right:-8%;
    height:27px;
    width:27px;
    padding:4px;
    border-radius:50%;
    background-color: $grey;
}

#avatarFrame > img{
    max-height:100%;
    max-width:100%;
}