// variables
@import 'variables';

.container{
    min-height: auto !important;
    max-width:620px !important;
    font-family: $primary_font_family;
}
.container .formTitle{
    font-size: 32px;
    cursor: default;
}
.container input{
    border:0.7px solid $grey !important;
    border-radius: 0 !important;
    background-color: $offWhiteLight;
    font-weight: 300 !important;
}
.container input:focus,
.container textarea:focus,
.container select:focus {
      box-shadow: none;
      background-color: $offWhiteDark;
      border: 0.7px solid $grey;
}
.container .is-invalid{
    box-shadow: none !important;
    border-color:#dc3545;
}
.container .btn{
    margin-left:0 12px;
    padding: 0.6vh 1.9vw;
    border: none !important;
    border-radius: 0 !important;
    color: #000;
    border: none;
    font-weight: 500;
}
.form-check-input{
    background-color: $offWhiteLight !important;
}
.form-check-input:checked{
    background-color: $zestyGreen !important;
}
.container .btn-secondary{
    background-color: #fff !important;
    font-size:0.95rem;
    color:#000;
}
.container .btn-secondary:hover{
    text-decoration: underline;
}
.container .btn-primary {
    background-color: #1e8b1e;
    color: #fff;
    font-size: 1.1rem;
}
.container .btn-primary:hover {
    background-color: $zestyGreen;
}