// variables
@import 'inc/_variables.scss';

body{
    font-family: $primary_font_family;
    background-color: $grey;
    overflow-x:hidden; 
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

// nav
@import 'inc/_nav.scss';

main{
    background-color: $offWhiteLight;
    padding: 55px 0;
    min-height:100vh;
}
.outer-container{
    width:100vw;
    min-height: 100vh;
}