// variables
@import 'variables';

.container{
    min-height: auto;
    max-width:740px;
}

.form-section{
    margin-top:8vh;
    margin-bottom:12vh;
}

#imageFrame {
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-color: $offWhiteLight;
    border:1px dashed $grey;
    cursor: pointer;
}

#imageFrame:hover{
    background-color: $offWhiteDark;
}

#imageFrame > img {
    max-height: 100%;
    max-width: 100%;
}

.form-text{
    color:$grey;
}

.list-group-item {
    height: 26px !important;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border: none !important;
    font-weight: 300;
    cursor: grab;
    background-color: none !important;
}

.list-group-item > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21.5px;
    width: 21.5px;
    cursor: pointer;
    margin: 0 10px;
}
.list-group-item > a > img{
    max-height: 100%;
    max-width: 100%;
}