// variables
@import 'inc/variables.scss';

#profile{
    background-color: #fff;
    padding-bottom:2vh;
    border-bottom: 2px solid $grey;
}

#profileHeading{
    padding:3vh 5%;
    display:flex;
    align-items: center;
}

#userDetails,
#userAvatar{
    height:fit-content;
}

#userAvatar > img{
    max-width:22vw;
    max-height:21vh;
    margin-right:2vw;
}

#userDetails{
    max-width:55vw;
    word-break: break-all;
}

#userDetails h1{
    font-weight: 500;
    font-size: 61px;
    margin-bottom:10px;
    letter-spacing: 0.7px;
}

#userDetails h2{
    font-weight: 400;
    font-size: 30px;
    margin-bottom:2px;
    letter-spacing: 0.5px;
}

#userDetails p{
    font-weight: 200;
    font-size: 21px;
    margin-bottom:0px;
    letter-spacing: 0.5px;
}

#userSummary{
    margin-left:8%;
    font-weight: 200;
    font-size: 21px;
    width:60%;
    letter-spacing: 0.5px;
}

@media screen and (max-width:768px) {
    #profileHeading h1{
        font-size: 8vw;
    }
    
    #profileHeading h2{
        font-size: 4vw;
    }
    
    #profileHeading p{
        font-size: 2.7vw;
    }

    #userSummary{
        width:100%;
        font-size: 2.7vw;
    }
}

.container{
    width:89vw;
}

// recipe card
@import 'inc/recipe-card.scss';