// variables
@import 'inc/variables.scss';

#profile{
    background-color: #fff;
    padding-bottom:5vh;
    border-bottom: 2px solid $grey;
}

#profileHeading{
    padding:5vh 7%;
    display:flex;
    align-items: center;
}

#userDetails,
#userAvatar{
    height:fit-content;
}

#userAvatar > img{
    max-width:30vw;
    max-height:22vh;
    margin-right:2vw;
}

#userDetails h1{
    font-weight: 500;
    font-size: calc(1.475rem + 2.7vw);
    margin-bottom:10px;
    letter-spacing: 0.7px;
}

#userDetails h2{
    font-weight: 400;
    font-size: calc(1.275rem + 0.3vw);
    margin-bottom:2px;
    letter-spacing: 0.5px;
}

#userDetails p{
    font-weight: 200;
    font-size: 1.25rem;
    margin-bottom:0px;
    letter-spacing: 0.5px;
}

#userSummary{
    margin-left:8%;
    font-weight: 200;
    font-size: 1.25rem;
    width:60%;
    letter-spacing: 0.5px;
}

@media screen and (max-width:768px) {
    #profileHeading h1{
        font-size: calc(1.6rem + 1vw) !important;
    }
    
    #profileHeading h2{
        font-size: calc(0.8rem + 1vw) !important;
    }
    
    #profileHeading p{
        font-size: calc(0.6rem + 1vw) !important;
    }

    #userSummary{
        width:100%;
        font-size: calc(0.5rem + 1vw);
    }

    #updateBtn{
        font-size: 12px;
    }

    #editIcon{
        height:23px;
        width:23px;
    }
}

.container{
    width:89vw;
}

// recipe card
@import 'inc/recipe-card.scss';