#outer-container input,
#outer-container textarea,
#outer-container select {
  border: 1px solid #222222 !important;
  border-radius: 0 !important;
  background-color: #f5f5f5;
  font-weight: 300 !important;
  resize: none;
}

#outer-container input:focus,
#outer-container textarea:focus,
#outer-container select:focus {
  box-shadow: none;
  background-color: #e0e0e0;
  border: inherit;
}

#outer-container button:focus {
  box-shadow: none;
}

#outer-container .is-invalid,
#outer-container .is-invalid:focus {
  box-shadow: none !important;
  border-color: #dc3545 !important;
}

#outer-container .btn {
  margin-left: 0 12px;
  border: none !important;
  border-radius: 0 !important;
  color: #000;
  border: none;
  font-weight: 500 !important;
  letter-spacing: 0.7px;
}

#outer-container .form-check-label,
#outer-container .form-check-input {
  cursor: pointer;
}

#outer-container .form-check-input {
  background-color: #f5f5f5 !important;
}

#outer-container .form-check-input:checked {
  background-color: #1e8b1e !important;
}

#outer-container .btn-link {
  background-color: #fff !important;
  font-size: 0.95rem;
  color: #000;
}

#outer-container .btn-secondary {
  background-color: #222222;
  color: #fff;
}

#outer-container .btn-link {
  text-decoration: none;
}

#outer-container .btn-link:hover {
  text-decoration: underline;
}

#outer-container .btn-primary {
  background-color: #1e8b1e;
  color: #fff;
}

#outer-container .btn-primary:hover {
  background-color: #1e8b1e;
}

@media screen and (max-width: 768px) {
  #outer-container .btn {
    font-size: 3vw;
  }
}
#outer-container {
  margin-top: 55px;
}

#recipe-container {
  width: 86%;
  padding: 0 5% 5vh 5%;
  margin: auto;
  padding-top: 3vh;
  background-color: #fff;
  border: 2.5px solid #222222;
}

section {
  margin-bottom: 6vh;
}

#info-container {
  display: flex;
}

#recipe-details {
  min-width: 40vw;
  max-width: 70vw;
}

#recipe-details h1 {
  font-weight: 500;
  font-size: 31px;
  margin: 5vh 10px 10px 0;
  letter-spacing: 0.7px;
}

#recipe-details h2 {
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}

#recipe-details p {
  font-weight: 200;
  font-size: 21px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
}

#recipe-details p a {
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}

#recipe-details p a:hover {
  text-decoration: underline;
}

#recipe-image > img {
  margin-top: 1vh;
  max-width: 25vw;
  max-height: 25vh;
}

#description > p {
  margin-left: 5px;
  font-weight: 200;
  font-size: 15.5px;
  width: 60%;
  letter-spacing: 0.5px;
}

.h5 {
  font-size: 21px;
  padding-bottom: 5px;
}

#ingredients > ul > li {
  min-height: 20px;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}

#instructions > p {
  margin-left: 5px;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  #recipe-container {
    width: 100%;
    border-style: solid none;
  }

  #recipe-details h1 {
    margin-top: 10px;
    font-size: calc(1rem + 2vw);
  }

  #recipe-details h2 {
    font-size: calc(0.5rem + 2vw);
  }

  #recipe-details p {
    font-size: calc(0.5rem + 2vw);
  }

  .h5 {
    font-size: calc(0.4rem + 2vw);
  }

  #ingredients > ul {
    padding-left: 5%;
  }

  #description > p,
#ingredients > ul > li,
#instructions > p {
    font-size: calc(0.5rem + 1vw);
  }
}
