.btn {
  margin-left: 0 12px;
  border: none !important;
  border-radius: 0 !important;
  border: none;
  font-weight: 500 !important;
  font-size: calc(0.7rem + 0.4vw);
  letter-spacing: 0.7px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #222222;
  color: #fff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #1e8b1e !important;
  color: #fff !important;
  font-weight: 500 !important;
}

.btn-delete {
  background-color: #d00101;
  color: #fff !important;
}

#delete-confirmation {
  display: none;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 40vw;
  min-width: 250px;
  background-color: #fff;
  z-index: 3;
}
#delete-confirmation #delete-prompt {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
}
#delete-confirmation #delete-prompt p {
  font-size: calc(1rem + 0.7vw);
  margin-bottom: 0;
}
#delete-confirmation #delete-prompt p span {
  font-weight: 400;
  font-size: calc(1.2rem + 1.3vw);
  margin: 80px 0 40px 0;
}
#delete-confirmation #delete-buttons {
  width: 90%;
  margin: 0 auto 5vh auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#delete-confirmation #delete-buttons #delete-cancel {
  background-color: #222222;
  color: #fff !important;
}

#outer-container {
  margin-top: 55px;
}

#recipe-container {
  width: 89%;
  padding: 0 5% 5vh 5%;
  margin: auto;
  padding-top: 3vh;
  background-color: #fff;
  border: 2.5px solid #222222;
}

section {
  margin-bottom: 6vh;
}

#info-container {
  display: flex;
}

#recipe-details {
  min-width: 40vw;
  max-width: 70vw;
}
#recipe-details h1 {
  font-weight: 500;
  font-size: calc(1rem + 2vw);
  margin: 5vh 10px 10px 0;
  letter-spacing: 0.7px;
}
@media screen and (max-width: 768px) {
  #recipe-details h1 {
    margin-top: 10px;
  }
}
#recipe-details h2 {
  font-weight: 400;
  font-size: calc(1rem + 0.9vw);
  margin-bottom: 8px;
  letter-spacing: 0.5px;
}
#recipe-details p {
  font-weight: 200;
  font-size: calc(0.7rem + 0.9vw);
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
#recipe-details p a {
  font-weight: 400;
  color: #222222;
  text-decoration: none;
}
#recipe-details p a:hover {
  text-decoration: underline;
}

#recipe-image > img {
  margin-top: 1vh;
  max-width: 25vw;
  max-height: 25vh;
}

#description > p {
  margin-left: 5px;
  font-weight: 200;
  font-size: 15.5px;
  width: 60%;
  letter-spacing: 0.5px;
}

.h5 {
  font-size: calc(0.9rem + 0.9vw);
  padding-bottom: 5px;
}

#ingredients > ul > li {
  min-height: 20px;
  font-weight: 200;
  font-size: calc(0.8rem + 0.4vw);
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}

#instructions > p {
  margin-left: 5px;
  font-weight: 200;
  font-size: calc(0.8rem + 0.4vw);
  letter-spacing: 0.5px;
}
