.outer-container input,
.outer-container textarea,
.outer-container select {
  border: 1px solid #222222 !important;
  border-radius: 0 !important;
  background-color: #f5f5f5;
  font-weight: 300 !important;
  resize: none;
}

.outer-container input:focus,
.outer-container textarea:focus,
.outer-container select:focus {
  box-shadow: none;
  background-color: #e0e0e0;
  border: inherit;
}

.outer-container button:focus {
  box-shadow: none;
}

.outer-container .is-invalid,
.outer-container .is-invalid:focus {
  box-shadow: none !important;
  border-color: #dc3545 !important;
}

.outer-container .btn {
  margin-left: 0 12px;
  border: none !important;
  border-radius: 0 !important;
  color: #000;
  border: none;
  font-weight: 500 !important;
  letter-spacing: 0.7px;
}

.outer-container .form-check-label,
.outer-container .form-check-input {
  cursor: pointer;
}

.outer-container .form-check-input {
  background-color: #f5f5f5 !important;
}

.outer-container .form-check-input:checked {
  background-color: #1e8b1e !important;
}

.outer-container .btn-link {
  background-color: #fff !important;
  font-size: 0.95rem;
  color: #000;
}

.outer-container .btn-secondary {
  background-color: #222222;
  color: #fff;
}

.outer-container .btn-link {
  text-decoration: none;
}

.outer-container .btn-link:hover {
  text-decoration: underline;
}

.outer-container .btn-primary {
  background-color: #1e8b1e;
  color: #fff;
}

.outer-container .btn-primary:hover {
  background-color: #1e8b1e;
}

#profile {
  background-color: #fff;
  padding-bottom: 5vh;
  border-bottom: 2px solid #222222;
}

#profileHeading {
  padding: 5vh 7%;
  display: flex;
  align-items: center;
}

#userDetails,
#userAvatar {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#userAvatar > img {
  max-width: 30vw;
  max-height: 22vh;
  margin-right: 2vw;
}

#userDetails h1 {
  font-weight: 500;
  font-size: calc(1.475rem + 2.7vw);
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}

#userDetails h2 {
  font-weight: 400;
  font-size: calc(1.275rem + 0.3vw);
  margin-bottom: 2px;
  letter-spacing: 0.5px;
}

#userDetails p {
  font-weight: 200;
  font-size: 1.25rem;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
}

#userSummary {
  margin-left: 8%;
  font-weight: 200;
  font-size: 1.25rem;
  width: 60%;
  letter-spacing: 0.5px;
}

#updateBtn {
  margin-left: 8%;
}

#editContainer {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#screenOverlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

#updateForm {
  height: 70vh;
  width: 88vw;
  padding: 1vw;
  max-width: 600px;
  background-color: #fff;
  z-index: 3;
}

#avatarContainer {
  height: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#avatarFrame {
  position: relative;
  height: 80%;
  width: 40%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#editIcon {
  position: absolute;
  top: -8%;
  right: -8%;
  height: 27px;
  width: 27px;
  padding: 4px;
  border-radius: 50%;
  background-color: #222222;
}

#avatarFrame > img {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  #profileHeading h1 {
    font-size: calc(1.6rem + 1vw) !important;
  }

  #profileHeading h2 {
    font-size: calc(0.8rem + 1vw) !important;
  }

  #profileHeading p {
    font-size: calc(0.6rem + 1vw) !important;
  }

  #userSummary {
    width: 100%;
    font-size: calc(0.5rem + 1vw);
  }

  #updateBtn {
    font-size: 12px;
  }

  #editIcon {
    height: 23px;
    width: 23px;
  }
}
.container {
  width: 89vw;
}

#recipes {
  margin-top: 10vh;
  display: flex;
}

.recipe-card {
  width: 25%;
  display: grid;
  grid-template-rows: 10vw 100px;
  border: 2px solid #222222;
  background-color: #fff;
  margin: 1%;
  text-decoration: none;
  color: #222222;
}

.recipe-card:hover {
  text-decoration: none;
  color: #222222;
}

.recipe-card > .recipe-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-card > .recipe-image > img {
  max-height: 80%;
  max-width: 80%;
}

.recipe-details {
  background-color: #fff;
  width: 100%;
}

.recipe-details > span {
  text-align: center;
  font-size: 1.2rem;
}

.recipe-details > p {
  border-top: 2px solid #222222;
  font-size: 0.9rem;
}
