.btn{
    margin-left:0 12px;
    border: none !important;
    border-radius: 0 !important;
    border: none;
    font-weight: 500 !important;
    font-size: calc(0.7rem + 0.4vw);
    letter-spacing: 0.7px;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus{
    background-color: $grey;
    color:#fff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #1e8b1e;
    color: #fff;
}

.btn-delete{
    background-color: #d00101;
    color:#fff !important;
}