// variables
@import '_variables.scss';


// button styles
@import '_button.scss';



#outer-container{
    input:not(.btn-primary),
    textarea,
    select{
        border:1px solid $grey !important;
        border-radius: 0 !important;
        background-color: $offWhiteLight;
        font-weight: 300 !important;
        resize: none;
    }

    input:focus,
    textarea:focus,
    select:focus{
        box-shadow: none;
        background-color: $offWhiteDark;
        border:inherit;
    }

    button:focus{
        box-shadow: none;
    }

    .is-invalid,
    .is-invalid:focus{
        box-shadow: none !important;
        border-color:#dc3545 !important;
    }

    .form-check-input,
    .form-check-label{
        cursor: pointer;
    }

    .form-check-input{
        background-color: $offWhiteLight !important;
    }


    .form-check-input:checked{
        background-color: $zestyGreen !important;
    }
    
    .btn-link{
        background-color: #fff !important;
        font-size:0.95rem;
        color:$grey;
    }
    
    .btn-link{
        text-decoration: none;
    }
    
    .btn-link:hover{
        text-decoration: underline;
    }
}
