// variables
@import 'variables.scss';

#recipes > .container > h2{
    padding:3vh 0;
}

#recipes-list{
    margin:0 !important;
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.recipe-card {
    width:20vw;
    border:2px solid $grey;
    background-color: #fff;
    margin:1%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
}

.recipe-card > a{
    display:grid;
    grid-template-rows: 10vw 100px;
    text-decoration: none;
    color:$grey;
}

.recipe-card > a:hover{
    text-decoration: none;
    color:$grey;
}

.recipe-card > a > .recipe-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-card > a > .recipe-image > img{
    max-height: 100%;
    max-width:100%;
}

.recipe-details{
    background-color: #fff;
    width:100%;
}

.recipe-details > span{
    text-align: center;
    font-size: 1.2rem;
}

.recipe-details > p{
    border-top:2px solid $grey;
    font-size: 0.9rem;
    background-color: $offWhiteDark;
}